<div class="container-fluid text-center">
	<div ng-controller="PurchaseController as ctrl">
	<div class="formcontainer">
	<form class="form input-group" style="text-align:right; float:right; width:20%">
     			 <input class="form-control" ng-model="query" type="text" name="searchBox"
       			 placeholder="Filter by email" style="text-align:center" autofocus>
       			 <span class="input-group-addon">
        				<i class="glyphicon glyphicon-search"></i>
  				 </span>
    </form>
	</div>
		<div class="grey">
			<h3>Purchases</h3>
		</div>
		<div class="panel panel-default">

			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID.</th>
							<th>User Email</th>
							<th>Items</th>
							<th>Cost</th>
							<th>Date Time</th>
							<th width="20%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="u in ctrl.purchases | filter:query | orderBy: 'dataTime'">
							<td style="text-align:left"><span ng-bind="u.purchaseId"></span></td>
							<td style="text-align:left"><span ng-bind="u.user.email"></span></td>
							<td style="text-align:left"><div ng-repeat="item in u.items">{{item.name}}</div></td>
							<td style="text-align:left"><span>{{u.cost.toFixed(2)}}</span>
							<td style="text-align:left"><span>{{u.dateTime | date:'yyyy-MM-dd HH:mm'}}</span></td>
							<td>
								<button type="button" ng-click="ctrl.remove(u.purchaseId)"
									class="btn btn-danger custom-width">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>