<div class="container-fluid text-center">
	<div ng-controller="UserController as ctrl">
		<div>
			<h3>User Registration Form</h3>
			<br>
		</div>
		<div class="formcontainer">
			<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
				<input type="hidden" ng-model="ctrl.user.userId" />
				<input type="hidden" ng-model="ctrl.user.createdDate"/>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Name</label>
						<div class="col-md-7">
							<input type="text" ng-model="ctrl.user.name" name="iname"
								placeholder="Enter your name" required/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Email</label>
						<div class="col-md-7">
							<input type="email" ng-model="ctrl.user.email" name="email"
								placeholder="Enter your email" required/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Balance</label>
						<div class="col-md-7">
							<input type="number" step="0.01" ng-model="ctrl.user.balance" name="balance"
								placeholder="Enter the balance" required/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">CardAddingBlocked</label>
						<div class="col-md-7">
							<select name="singleSelect" ng-init="ctrl.user.cardAddingBlocked = fasle" ng-model="ctrl.user.cardAddingBlocked">
								<option value="true">Blocked</option>
								<option value="false">Not blocked</option>
							</select><br>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Active</label>
						<div class="col-md-7">
							<select name="singleSelect" ng-init="ctrl.user.active = true" ng-model="ctrl.user.active">
								<option value="true">Active</option>
								<option value="false">Not acative</option>
							</select><br>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-actions">
						<input type="submit"
							value="{{!ctrl.user.userId ? 'Add' : 'Update'}}"
							class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid"/>
						<button type="button" ng-click="ctrl.reset()"
							class="btn btn-warning btn-sm">ResetForm</button>
					</div>
				</div>
			</form>
		</div>
		<div class="grey">
			<h3>Users</h3>
		</div>
		<div class="panel panel-default">

			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Balance</th>
							<th>Active</th>
							<th>AddCardBlocked</th>
							<th>CreatedDate</th>
							<th>Cards</th>
							<th width="20%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="u in ctrl.users">
							<td style="text-align:left"><span ng-bind="u.userId"></span></td>
							<td style="text-align:left"><span ng-bind="u.name"></span></td>
							<td style="text-align:left"><span ng-bind="u.email"></span></td>
							<td style="text-align:left"><span> {{(u.balance).toFixed(2)}}</span></td>
							<td style="text-align:left"><span> {{(u.active == true)? 'active' : 'not active'}}</span></td>
							<td style="text-align:left"><span> {{(u.cardAddingBlocked == true)? 'blocked' : 'not blocked'}}</span>
							<td style="text-align:left"><span>{{u.createdDate | date:'yyyy-MM-dd HH:mm'}}</span></td>
							<td style="text-align:left"><div ng-repeat="card in u.cards">{{card.name}}</div></td>
							<td>
								<button type="button" ng-click="ctrl.edit(u.userId)"
									class="btn btn-success custom-width">Edit</button>
								<button type="button" ng-click="ctrl.remove(u.userId)"
									class="btn btn-danger custom-width">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>